<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.trustfuse.mpesa_stktrial">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MpesaStkTrial">
        <activity android:name=".Order_succesful"></activity>
        <activity android:name=".Comments" />
        <activity android:name=".Single_good" />
        <activity android:name=".Categories.Single_Categories" />
        <activity android:name=".Good_Owner.Good_owner_post" />
        <activity android:name=".Authentication.Good_owner_login" />
        <activity android:name=".Main_Menu" />
        <activity android:name=".Authentication.Login" />
        <activity android:name=".Authentication.Consumer_sign_in" />
        <activity android:name=".Authentication.Goodowner_sign_in" />
        <activity android:name=".Authentication.First_Page">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>